body
{
	background: #787878;
}

.login_main
{
	height: 2000px;
	background: #787878;
	position: relative;
}

.login_main form
{
	max-width: 320px;
	width: 90%;
	background-color: #000029;
	padding: 40px;
	border-radius: 5px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login_header
{
	text-align: center;
}

.login_main .illustration
{
	text-align: center;
	padding: 15px 0 20px;
	font-size: 100px;
}

.login_main form .form_input
{
	background: none;
	border: none;
	border-bottom: 1px solid #434a52;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color: inherit;
}

.login_main form .new_account
{
	display: block;
	text-align: center;
	font-size: 12px;
	color: #6f7a85;
	opacity: 0.9;
	text-decoration: none;
}

.login_main form .btn-primary
{
	background: #214a80;
	border: none;
	border-radius: 4px;
	padding: 11px;
	box-shadow: none;
	margin-top: 26px;
	text-shadow: none;
}

.login_main form .btn-primary:active
{
	transform: translateY(1px);
}